
body {   
    background-color: floralwhite;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: lighter;
}

#field {
    border: 1px solid black;
    margin-top: 50px;
    background-color: chocolate;
    border-radius: 5px;
}

.cell {
    border: 1px solid black;
    text-align: center;
    width: 80px;
    height: 80px;
    /*background-color: antiquewhite;*/
    border-radius: 5px;
}

td {
    font-size: 40px;
    font-family: cursive;
}