
body {   
    background-color: floralwhite;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: lighter;
}

.container {
    width: 60px;
    height: 60px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
    text-align:center;
    margin: auto;
    color: chocolate;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgb(36 39 44 / 15%);
}

.container::before {
    content: "Score";
    color: black;
}

#field {
    border: 1px solid black;
    margin-top: 50px;
    background-color: chocolate;
    border-radius: 5px;
}

.cell {
    border: 1px solid black;
    text-align: center;
    width: 80px;
    height: 80px;
    /*background-color: antiquewhite;*/
    border-radius: 5px;
}

td {
    font-size: 40px;
    font-family: cursive;
}